{% extends "front/layout.html.twig" %}

{% block body %}
<h1>{{ realisateur.nom }}</h1>

<img src="{{ asset ("img/portrait/" ~ realisateur.portrait )}}" alt="{{realisateur}}" >

{{dump()}}
<p>Les films réalisées :
{% for film in realisateur.films %}

<a href="{{path ("front_film",{"id": film.id} ) }}"><img src="{{asset ("img/affiche/" ~ film.affiche )}}" alt="{{film.titre}}"></a>      


{% endfor %}
    
{% endblock %}

 
